<a href="https://colab.research.google.com/github/audrb1999/Python_image/blob/main/18.Pandas%20%ED%99%9C%EC%9A%A9/git_hub16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18.Pandas 활용

## 데이터 프레임의 마스킹

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 10, (2, 2)), index = [0, 1], columns = ['A', 'B'])
print(df, '\n')

# A의 두 원소가 5보다 작은지 체크
print(df['A']<=5, '\n')

# 5보다 큰 값만 출력
print(df[df>5], '\n')

# query를 통해 마스킹 연산 > a는 5보다 작고 b는 8보다 작은 행만 출력
print(df.query('A <=5 and B <= 8'))

   A  B
0  7  6
1  3  3

0    False
1     True
Name: A, dtype: bool

     A    B
0  7.0  6.0
1  NaN  NaN

   A  B
1  3  3

## 데이터 프레임의 개별 연산 1

In [2]:
df = pd.DataFrame([[1, 2, 3, 4], [1, 2, 3, 4]], index = [0, 1], columns = ['A', 'B', 'C', 'D'])
print(df, '\n')

df = df.apply(lambda x:x + 1)
print(df, '\n')

def addone(x):
    return x +1

df = df.apply(addone)
print(df)


# apply 각 원소에 해당 기능 or 조건을 실행

   A  B  C  D
0  1  2  3  4
1  1  2  3  4

   A  B  C  D
0  2  3  4  5
1  2  3  4  5

   A  B  C  D
0  3  4  5  6
1  3  4  5  6

## 데이터 프레임 개별 연산

In [3]:
import pandas as pd

df = pd.DataFrame([["0", "0" , "0" , "0"],['1', '1', '1', '1']], index = [0, 1], columns=['A', 'B', 'C', 'D'])

print(df, '\n')

# 0들의 값들을 바꿈
df = df.replace({'0':'Hi'})

print(df)

   A  B  C  D
0  0  0  0  0
1  1  1  1  1

    A   B   C   D
0  Hi  Hi  Hi  Hi
1   1   1   1   1

## 그룹화

In [4]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 'Fruit'],
  ['Banana', 3, 'Fruit'],
  ['Beef', 5, 'Meal'],
  ['Kimchi', 4, 'Meal']],
  columns=["Name", "Frequency", "Type"])
print(df, '\n')
print(df)

# 묶은 다음 연산으로 하면 묶은 애들 끼리 연산이 됨!
print(df.groupby(['Type']).sum())

     Name  Frequency   Type
0   Apple          7  Fruit
1  Banana          3  Fruit
2    Beef          5   Meal
3  Kimchi          4   Meal

     Name  Frequency   Type
0   Apple          7  Fruit
1  Banana          3  Fruit
2    Beef          5   Meal
3  Kimchi          4   Meal
       Frequency
Type
Fruit         10
Meal           9

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])

print(df)
# aggregate 를 사용해서 사용한 함수 연산들을 한번에 수행 후 값을 보여주는 것 
print(df.groupby(["Type"]).aggregate([min, max, np.average]))

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
      Frequency             Importance
            min max average        min max average
Type
Fruit         3   7     5.0          5   6     5.5
Meal          4   5     4.5          2   8     5.0

In [6]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])


def my_filter(data):
  return data["Frequency"].mean() >= 5


print(df)

# 
df = df.groupby("Type").filter(my_filter)
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit
2    Beef          5           2   Meal
3  Kimchi          4           8   Meal
     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

In [7]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])

df = df.groupby("Type").get_group("Fruit")# fruit만 출력
print(df)

     Name  Frequency  Importance   Type
0   Apple          7           5  Fruit
1  Banana          3           6  Fruit

In [8]:
import pandas as pd

df = pd.DataFrame([
  ['Apple', 7, 5, 'Fruit'],
  ['Banana', 3, 6, 'Fruit'],
  ['Beef', 5, 2, 'Meal'],
  ['Kimchi', 4, 8, 'Meal']],
  columns=["Name", "Frequency", "Importance", "Type"])

# 타입 값들 - 타입 값의 평균을 수행
df["Gap"] = df.groupby("Type")["Frequency"].apply(lambda x: x - x.mean())
print(df)

     Name  Frequency  Importance   Type  Gap
0   Apple          7           5  Fruit  2.0
1  Banana          3           6  Fruit -2.0
2    Beef          5           2   Meal  0.5
3  Kimchi          4           8   Meal -0.5