<a href="https://colab.research.google.com/github/audrb1999/Python_image/blob/main/17.Pandas%EC%9D%98%20%EC%97%B0%EC%82%B0%EA%B3%BC%20%ED%95%A8%EC%88%98/git_hub15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17.Pandas의 연산과 함수


##데이터 프레임의 Null 여부 확인

In [1]:
import pandas as pd
import numpy as np

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근',
    'Durian': '두리안'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': np.nan, # null data
    'Durian': 2
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1,
    'Durian': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

print(summary,'변환 없음 \n')
print(summary.notnull(),'notnull()\n')# null data가 아닌지  
print(summary.isnull(),'isnull()\n')
summary['frequency'] = summary['frequency'].fillna('데이터 없음')# fillna = fill nan nan을 채우겠다는 의미
print(summary)

       word  frequency  importance
Apple    사과        3.0           3
Banana  바나나        5.0           2
Carrot   당근        NaN           1
Durian  두리안        2.0           1 변환 없음

        word  frequency  importance
Apple   True       True        True
Banana  True       True        True
Carrot  True      False        True
Durian  True       True        True notnull()

         word  frequency  importance
Apple   False      False       False
Banana  False      False       False
Carrot  False       True       False
Durian  False      False       False isnull()

       word frequency  importance
Apple    사과         3           3
Banana  바나나         5           2
Carrot   당근    데이터 없음           1
Durian  두리안         2           1

##시리즈 자료형의 연산

In [2]:

import pandas as pd

array1 = pd.Series([1, 2, 3], index=['A', 'B', 'C'])
array2 = pd.Series([4, 5, 6], index=['B', 'C', 'D'])

# 단순 덧셈(겹치지 않는 데이터는 null로 나옴!) fillna를 통해 다시 채우기!
# 시리즈 값(칼럼 이름)과 인덱스 값(행 이름 값)이 같은 것들 끼리만 덧셈가능!
array = array1.add(array2, fill_value=0)# 0 이면 그값 그대로 나옴, 인덱스값이 같아야함!
print(array)

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

In [3]:
import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'])# (2, 2)
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['B', 'C', 'D'])# (3, 3)

print(array1,'\n')
print(array2,'\n')

# 인덱스 끼리 덧셈을함! 겹치는 인덱스가 없으면 nan값이 나오게됨!
# 첫번째 데이터 프레임에 [A, 2]가 없음, 두번째 데이터 프레임에 A라는 인덱스가 없음
array = array1.add(array2, fill_value=0)
print(array)

   0  1
A  1  2
B  3  4

   0  1  2
B  1  2  3
C  4  5  6
D  7  8  9

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0

## 집계합수

In [4]:
import pandas as pd

array1 = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'])
array2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['B', 'C', 'D'])

array = array1.add(array2, fill_value=0)
print(array)

# 컬럼 1에 대한 합만 구할 수 있음
print("컬럼 1의 합:", array[1].sum())
print(array.sum())

     0    1    2
A  1.0  2.0  NaN
B  4.0  6.0  3.0
C  4.0  5.0  6.0
D  7.0  8.0  9.0
컬럼 1의 합: 21.0
0    16.0
1    21.0
2    18.0
dtype: float64

## 데이터 프레임 정렬 함수

In [ ]:
import pandas as pd
import numpy as np

word_dict = {
    'Apple': '사과',
    'Banana': '바나나',
    'Carrot': '당근',
    'Durian': '두리안'
}

frequency_dict = {
    'Apple': 3,
    'Banana': 5,
    'Carrot': 1,
    'Durian': 2
}

importance_dict = {
    'Apple': 3,
    'Banana': 2,
    'Carrot': 1,
    'Durian': 1
}

word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importance = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word,
    'frequency': frequency,
    'importance': importance
})

print(summary)

# sort_values를 통해 정렬 가능 frequency 값을 기준으로 내림차순으로 정렬 한 것!
summary = summary.sort_values('frequency', ascending=False)
print(summary)

            word  frequency  importance
Apple         사과          3           5
Banana       바나나          5           2
Carrot        당근          7           1
Elderberry  엘더베리          5           3